<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Feature Requests</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-min.js"></script>
  </head>
  <body>
    <h1>Request</h1>

    <form data-bind="submit: request">
      <button type="submit">Submit</button>
    </form>

    <script type="text/javascript">
      var RequestViewModel = {
        request : function(formElement) {}
      };

      ko.applyBindings(RequestViewModel);
    </script>
  </body>
</html>
